html {
  background-color: #00308f;
  color: white;
  font-family: Times;
  margin: 0;
  padding: 0;
}

.frontTextDiv {
  width: 300px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1 {
  font-size: 50px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h2 {
  text-align: end;
  margin-top: 0px;
  padding-top: 0px;
}

.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.dataText {
  color: #00308f;
}
